.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

.container{
    margin-top: 10px;
    float: none;

}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;;
}

#listSub{
    margin-top: 20px;
}

.table-hover th, td{
    text-align: center;
}

#faic{
    font-size: 22px;
    color:black;
}

@media (max-width: 1200px) {
    #listBtn{
        text-align: right;
    }
}

@media (min-width: 1000px) {
    #listBtn{
        text-align: right;
    }
}

@media (max-width: 992px) {
    #listBtn{
        text-align: right;
    }
}

@media (max-width: 520px) {
    #listBtn{
        text-align: left;
    }

    .table-hover {
        font-size: 8px;

    }


    #faic{
        font-size: 14px;
    }
}

